<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="main.css{{#if css_version}}?v={{css_version}}{{/if}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <meta name="description" content="{{ description }}" />
    <meta http-equiv="content-language" content="en-US">

    <meta property="og:image" content="/img/icon/favicon-128.png" />
    <meta property="og:description" content="{{ description }}" />
    <meta proeprty="og:title" content="{{ title }}" />
    <meta property="og:url" content="https://emux.cc{{ url }}" />
    <meta property="og:type" content="website" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-startup-image" href="/img/icon/favicon-96x96.png" />

    <link rel="icon" type="image/png" href="/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/icon/favicon-16x16.png" sizes="16x16" />

    <meta name="application-name" content="CCEmuX"/>
    <meta name="msapplication-TileImage" content="/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/icon/mstile-310x310.png" />

    <meta name="theme-color" content="#111111">
  </head>
  <body>
{{> @partial-block }}
  </body>
</html>
